<%- title t('common.allowed_elements_and_attributes_title') %>
<%- description 'Elements and attributes allowed when posting to Greasy Fork.' %>

<p><%=t('common.allowed_elements_intro')%></p>

<ul id="help-allowed-elements">
	<li>* (name, title)</li>
	<li>a (href)</li>
	<li>abbr</li>
	<li>b</li>
	<li>blockquote (cite)</li>
	<li>br</li>
	<li>center</li>
	<li>cite</li>
	<li>code</li>
	<li>dd</li>
	<li>del</li>
	<li>dfn</li>
	<li>div</li>
	<li>dl</li>
	<li>dt</li>
	<li>em</li>
	<li>h1</li>
	<li>h2</li>
	<li>h3</li>
	<li>h4</li>
	<li>h5</li>
	<li>h6</li>
	<li>hr</li>
	<li>i</li>
	<li>ins</li>
	<li>img (alt, src (https))</li>
	<li>kbd</li>
	<li>li</li>
	<li>mark</li>
	<li>ol</li>
	<li>p</li>
	<li>pre</li>
	<li>q (cite)</li>
	<li>s</li>
	<li>samp</li>
	<li>small</li>
	<li>span</li>
	<li>strike</li>
	<li>strong</li>
	<li>tt</li>
	<li>table</li>
	<li>tbody</li>
	<li>tfoot</li>
	<li>thead</li>
	<li>td</li>
	<li>th</li>
	<li>tr</li>
	<li>sub</li>
	<li>sup</li>
	<li>time (datetime, pubdate)</li>
	<li>u</li>
	<li>ul</li>
	<li>var</li>
</ul>

<p><%=t('common.allowed_elements_extra_info')%></p>
