<%- title 'Allowed markup' %>
<%- description 'Elements and attributes allowed when posting to Greasy Fork.' %>

<p>The following elements and attributes are allowed:</p>

<ul id="help-allowed-elements">
	<li>a (href)</li>
	<li>abbr (title)</li>
	<li>b</li>
	<li>blockquote (cite)</li>
	<li>br</li>
	<li>cite</li>
	<li>code</li>
	<li>dd</li>
	<li>dfn (title)</li>
	<li>dl</li>
	<li>dt</li>
	<li>em</li>
	<li>i</li>
	<li>kbd</li>
	<li>li</li>
	<li>mark</li>
	<li>ol</li>
	<li>p</li>
	<li>pre</li>
	<li>q (cite)</li>
	<li>s</li>
	<li>samp</li>
	<li>small</li>
	<li>strike</li>
	<li>strong</li>
	<li>sub</li>
	<li>sup</li>
	<li>time (datetime, pubdate)</li>
	<li>u</li>
	<li>ul</li>
	<li>var</li>
</ul>

<p>Whitespace will be turned into p or br elements. URLs will automatically be linkified.</p>
