<%- title 'Code rules' %>
<%- description 'Rules and restrictions for code posted to Greasy Fork.' %>

<p>These are the requirements for scripts posted to Greasy Fork. These are intended to keep Greasy Fork a safe and useful place for user scripts. Any script falling outside these requirements may be deleted by Greasy Fork moderators.</p>

<ul>
	<li>Scripts must include a description of what they do and may not do things unreasonably outside of this description. Users must know what a script will do before installing it.</li>
	<li>Code posted to this site must not be obfuscated or minified. Users must be given the opportunity to inspect and understand a script before installing it.</li>
	<li>Libraries that a script uses should be <code>@require</code>-d, unless there's a valid technical reason not to do so. In the case that a library is included inline, it must include information as to the source of the library (e.g. a comment indicating URL and/or name and version).</li>
	<li>Your script must respect others' copyrights. This includes the script itself and any resources (for example images) it uses. If you intend on using someone else's content, abide by their licensing terms or get their permission before doing so.</li>
	<li><%=link_to "Use of external JavaScript is limited.", help_external_scripts_path()%></li>
</ul>

<p>If you notice a script that falls outside of these parameters, please report it by going to the Feedback link for that script, starting a discussion, and choosing the "Report script" option.</p>

<p>If you disagree with any of this, <%=link_to "let's talk about it", help_contact_path()%>!</p>
