<%- title 'Contact' %>
<%- description 'How to contact someone about Greasy Fork.' %>

<p>There's a bunch of ways to talk about Greasy Fork and the things on it. If you're not sure where or how to do so, this should help.</p>

<p>Do you have a question or comment about a specific script posted on the site? If so, post a discussion from the link on the Feedback tab on that script's page. Script authors get notification on their account page of any discussions on their scripts.</p>

<p>Do you have a question or comment on Greasy Fork itself or on script development, or do you want someone to make you a script? <a href="/forum/">Posting in the forum</a> would give you the widest audience for your discussion.</p>

<p>Do you have a bug report or fully-formed idea for Greasy Fork itself (and not a specific script <em>posted on</em> Greasy Fork)? <a href="https://github.com/JasonBarnabe/greasyfork">Post it on Greasy Fork's GitHub page.</a></p>

<p>Do you have a private question or comment you would like only the admin to see? <a href="mailto:jason.barnabe@gmail.com">Send me an e-mail.</a></p>
