<p>Greasy Fork would not be possible without the authors who contribute scripts.</p>

<p>Greasy Fork itself is built by <a href="https://github.com/JasonBarnabe/greasyfork/graphs/contributors">these people</a> with the help of all those who report bugs and suggest improvements.</p>

<p>Discussion icons are from <a href="https://www.iconfinder.com/search/?q=iconset:softwaredemo">"Vista Style Base Software"</a> by <a href="http://www.icons-land.com/">Icons Land</a>.</p>
