<%- title 'Credits - Greasy Fork' %>

<p>Greasy Fork would not be possible without the authors who contribute scripts.</p>

<p>Greasy Fork itself is built by <a href="https://github.com/JasonBarnabe/greasyfork/graphs/contributors">these people</a> with the help of all those who report bugs and suggest improvements.</p>

<p>Greasy Fork was translated by <a href="https://www.transifex.com/organization/greasy-fork/team/21359/">the Greasy Translation Force on Transifex</a>:</p>

<ul>
	<% Locale.where(:ui_available => true).joins(:locale_contributors).order(:code).uniq.each do |locale| %>
		<li><%=locale.native_name%> (<%=locale.code%>): <%=locale.locale_contributors.map{|lc| lc.transifex_user_name}.join(', ')%></li>
	<% end %>
</ul>

<p>Discussion icons are from <a href="https://www.iconfinder.com/search/?q=iconset:softwaredemo">"Vista Style Base Software"</a> by <a href="http://www.icons-land.com/">Icons Land</a>. Browser icons are from <a href="https://github.com/alrra/browser-logos/">alrra/browser-logos</a>.</p>
