<%- title 'Help' %>
<%- description 'Help with Greasy Fork.' %>

<ul>
	<li><%=link_to 'Help with Greasemonkey', 'http://wiki.greasespot.net/Troubleshooting_(Users)'%></li>
	<li><%=link_to 'Rules for code posted on Greasy Fork', help_code_rules_path%></li>
	<li><%=link_to 'Allowed markup for posting on Greasy Fork', help_allowed_markup_path%></li>
	<li><%=link_to 'Contact someone', help_contact_path%></li>
</ul>
