<%- title 'How to install user styles' %>
<%- description 'Describes how to install user styles from Greasy Fork.' %>

<p>Some scripts on <%= site_name %> can be installed as user styles.</p>

<p>User styles can be installed with <a href="https://addons.mozilla.org/firefox/addon/styl-us/">Stylus for Firefox</a>, <a href="https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne">Stylus for Chrome</a>, and <a href="https://addons.opera.com/extensions/details/stylus/">Stylus for Opera</a>.</p>
