<%- title 'How to install user scripts' %>
<%- description 'Describes how to install user scripts from Greasy Fork.' %>

<p>How you install user scripts depends on which browser you use. Typically, you will need to install a browser extension. This is not an exhaustive list, please <%=link_to 'contact us', help_contact_path%> if you have any additions.</p>

<p>Once user scripts are enabled in your browser, it should be as simple as clicking the "Install" button on any script's page on Greasy Fork.</p>

<h2>Firefox and related</h2>
<ul>
	<li><a href="https://addons.mozilla.org/firefox/addon/greasemonkey/">Greasemonkey</a></li>
	<li><a href="https://addons.mozilla.org/firefox/addon/scriptish/">Scriptish</a></li>
</ul>

<h2>Google Chrome, Chromium, and related</h2>
<ul>
	<li><a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Tampermonkey</a></li>
</ul>

<h2>Opera (version 15 and later)</h2>
<ul>
	<li><a href="https://addons.opera.com/extensions/details/tampermonkey-beta/">Tampermonkey</a></li>
	<li><a href="https://addons.opera.com/extensions/details/violent-monkey/">Violentmonkey</a></li>
</ul>

<h2>Opera (version 12 and earlier)</h2>
<p>Opera version 12 and earlier <a href="http://www.opera.com/docs/userjs/using/#writingscripts">supports user scripts natively</a>. <a href="https://addons.opera.com/extensions/details/violent-monkey/">Violentmonkey</a> provides a friendlier UI and better compatibility.</p>
</ul>
