<%- title 'Conversion of user CSS to user JS' %>
<%- description "Describes how #{site_name} converts user CSS to user JS." %>

<h3><%= t('help.user_css_to_user_js.title') %></h3>

<%= t('help.user_css_to_user_js.content_html', site_name: site_name) %>
