<%= render 'form' %>

<%= form_tag([@set.user, @set], method: :DELETE, data: { turbo: true, turbo_confirm: t('script_sets.delete_confirmation') }) do %>
  <p>
    <input type="submit" value="<%= t('script_sets.delete') %>">
  </p>
<% end %>
