/* Index rating image - move to left of title  */
.rating-image {
	float: left;
	margin-right: 5px;
}
/* Override mobile theme */
.rating-image {
	height: 16px !important;
	width: 16px !important;
}

/* Form rating options */
.ExtraDiscussionData-Rating label {
	display: block !important;
}

.ExtraDiscussionData-Rating label > * {
	display: inline-block;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating label, .CommentForm .CommentOptions .ExtraDiscussionData-Rating label {
	padding-top: 3px;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating input, .CommentForm .CommentOptions .ExtraDiscussionData-Rating input {
	margin-top: 0;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating *, .CommentForm .CommentOptions .ExtraDiscussionData-Rating * {
	vertical-align: top;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating li, .CommentForm .CommentOptions .ExtraDiscussionData-Rating li {
	display: list-item;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating ul, .CommentForm .CommentOptions .ExtraDiscussionData-Rating ul {
	list-style: inside;
}
