<h3><%= t('scripts.new_script_notice.title') %></h3>

<p>
  <%= link_to t('scripts.new_script_notice.install_link_html'), help_installing_user_scripts_path %>
</p>

<p>
  <%= link_to t('scripts.new_script_notice.share_link_html'), script_version_confirm_new_author_path(language: params[:language]) %>
</p>
