<p><%=description.html_safe%></p>
<% if scripts.empty? %>
	<p><%=t('scripts.listing_none')%></p>
<% else %>
	<ul>
		<% scripts.each do |script| %>
			<li>
				<%=t('scripts.derivatives_script_html', {:script_link => link_to(script.name(I18n.locale), script), :user_link => link_to(script.user.name, script.user), :license => license_display(script)})%>
			</li>
		<% end %>
	</ul>
<% end %>
