<form>
	<p>Search the code posted to Greasy Fork. This is a straight-up text search, case-insensitive, no wildcards.</p>
	<input name="c" placeholder="Code search"><input type="submit" value="→">
</form>
