<%- title @script.name + ' - Feedback' %>
<%- description 'Feedback on ' + @script.name %>

<% if @script.discussions.empty? %>
	<p id="no-discussions">No discussions posted yet. <a id="start-discussion" href="/forum/post/discussion?script=<%=@script.id%>" rel="nofollow">Be the first to discuss this script.</a></p>
<% else %>
	<ul id="discussions">
		<% @script.discussions.reverse.each do |discussion| %>
			<li class="<%=discussion_class(discussion)%>">
				<%= render :partial => 'forum_discussions/discussion', :locals => {:discussion => discussion}%>
			</li>
		<% end %>
	</ul>
	<p id="no-discussions"><a id="start-discussion" href="/forum/post/discussion?script=<%=@script.id%>" rel="nofollow">Start a new discussion on this script.</a></p>
<% end %>
