<%- title 'Libraries on Greasy Fork' %>
<%- description 'List of user-submitted libraries available on Greasy Fork' %>

<h1>Libraries</h1>
<p>There are libraries posted by Greasy Fork users that you can @require in your scripts. For other kinds of libraries you can @require, <%=link_to 'read Greasy Fork\'s policy on <code>@require</code>.'.html_safe, help_code_rules_path(:anchor => 'require')%></p>
<% if @scripts.empty? %>
	<p>No libraries currently posted.</p>
<% else %>
	<ul>
		<% @scripts.each do |script| %>
			<li>
				<%=link_to script.name, script %> <%=script.description%>
			</li>
		<% end %>
	</ul>
<% end %>
