<%- title t('scripts.code_title', script_name: @script.name(request_locale)) %>
<%- description "Source code for #{@script.name(request_locale)}" %>

<%= render partial: 'install', locals: {script: @script, script_version: @script_version} %>

<%= render partial: 'feedback_suggestion', locals: {script: @script} %>

<% if @ad_method&.ea? %>
  <div class="ad <%= @ad_method.css_class %>">
    <div id="script-show-code-ea" class="flat ethical-ads ethical-ads-text" data-ea-publisher="greasyfork" data-ea-type="text"></div>
  </div>
<% end %>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css"></script>

<div class="code-container">
  <%= tag.pre(class: if @code.length <= Rails.configuration.syntax_highlighting_limit
  ['prettyprint', 'linenums', @script.css? ? 'lang-css' : 'lang-js']
else
  ['uglyprint']
end ) { @code } %>
</div>
