<%- title "Undelete #{@script.name}" %>

<% moderator_view = current_user.moderator? && current_user != @script.user %>
<%=form_tag(script_do_undelete_path) do |f|%>
	<% if moderator_view %>
		<p>
			<label for="reason">Why are you undeleting this?</label><br>
			<textarea id="reason" name="reason" rows="5" cols="100" maxlength="500" required></textarea>
		</p>
		<% if @script.user.banned %>
			<p>
				<label for="unbanned">Unban this user?</label> <input type="checkbox" id="unbanned" name="unbanned" value="1">
			</p>
		<% end %>
	<% end %>
	<input type="submit" value="Undelete">
<% end %>
