<h1>Scripts including disallowed external scripts</h1>
<p><%=link_to 'Read Greasy Fork\'s policy on external scripts.', help_external_scripts_path%></p>
<% if @scripts.empty? %>
	<p>No scripts currently under assessment.</p>
<% else %>
	<ul>
		<% @scripts.each do |script| %>
			<li>
				<%=link_to script.name, script %> <%=script.assessments.map{|a| a.assessment_reason.name + ' ' + a.details}.join(', ')%>
			</li>
		<% end %>
	</ul>
<% end %>
