version: 2.1
orbs:
  ruby: circleci/ruby@2.1.0
  browser-tools: circleci/browser-tools@1.4.6

jobs:
  build:
    resource_class: large
    docker:
      - image: cimg/ruby:3.4.2-browsers
        environment:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: 3306
          MYSQL_USER: user
          MYSQL_PASSWORD: passw0rd
          MYSQL_ROOT_PASSWORD: rootpw
          MYSQL_DATABASE: greasyfork_test
          RAILS_ENV: test
          PARALLEL_WORKERS: 2
      - image: cimg/mariadb:10.6
        environment:
          MYSQL_ROOT_PASSWORD: rootpw
          MYSQL_DATABASE: greasyfork_test
          MYSQL_USER: user
          MYSQL_PASSWORD: passw0rd
        command: [--loose_innodb_read_only_compressed=OFF]
    steps:
      - checkout
      - ruby/install-deps
      - browser-tools/install-chrome
      - run: sudo apt update
      - run: sudo apt install mariadb-client libvips brotli
      - run:
          name: Which bundler?
          command: bundle -v
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:3306 -timeout 1m
      - run:
          name: Copy test config
          command: |
            cp .circleci/application.yml .circleci/database.yml config/
      - run: bundle exec rake db:create
      - run: bin/rails db:schema:load
      - run:
          name: Grant privileges to create parallel test DBs
          command: echo "GRANT ALL PRIVILEGES ON *.* TO user@'%';FLUSH PRIVILEGES" | mysql -uroot -p$MYSQL_ROOT_PASSWORD
      - restore_cache:
          keys:
            - yarn-cache-{{ checksum "yarn.lock" }}
            - yarn-cache
      - run: bin/yarn
      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - restore_cache:
          keys:
            - precompile-cache
      - run: bin/rails assets:precompile --trace
      - save_cache:
          key: precompile-cache
          paths:
            - public/packs-test
            - tmp/cache/webpacker
      - run: mkdir -p tmp/sockets
      - run: bin/rails test:all
