<% if @notifications.any? %>
  <div class="notification-list">
    <% @notifications.each do |notification| %>
      <div class="notification-list-item notification-<%= notification.read? ? 'read' : 'not-read' %>">
        <div class="notification-meta">
          <div class="notification-meta-item">
            <%= markup_date(notification.created_at) %>
          </div>
        </div>
        <%= link_to notification.path(locale: I18n.locale) do
              case notification.notification_type.to_sym
              when Notification::NOTIFICATION_TYPE_NEW_CONVERSATION
                other_user = notification.item.users.where.not(id: current_user.id).first
                t('users.notifications.new_conversation', user: render_user(other_user, other_user.id, skip_link: true), text: notification.item.messages.first.plain_text.truncate(200))
              when Notification::NOTIFICATION_TYPE_NEW_MESSAGE
                t('users.notifications.new_message', user: render_user(notification.item.poster, notification.item.poster_id, skip_link: true), text: notification.item.plain_text.truncate(200))
              else
                raise "Unexpected notification type - #{notification.notification_type}"
              end
        end %>
      </div>
    <% end %>
  </div>

  <%= will_paginate(@notifications) %>
<% else %>
  No notifications yet!
<% end %>