<% unless resource.errors.empty? %>
  <div class="alert">
    <%= t('common.error_preamble') %>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
