<% unless general_ads_setting&.no_ads? %>
  <p class="ad ad-p1">
    <div class="ad-marker">Advertisement:</div>
    <%= link_to 'https://www.p1go.net', target: '_blank' do %>
      <%= vite_image_tag('images/ads/p1.webp', alt: '') %>
    <% end %>
  </p>
<% end %>
