<% if @ad_method&.ea? %>
  <div id="error-show-ea" class="ad flat ethical-ads text-content-top-ad ethical-ads-text" data-ea-publisher="greasyfork" data-ea-type="text"></div>
<% end %>

<p><%= @text %></p>
