<p>Welcome to Greasy Fork, a site for user scripts. This site is intended to be the replacement for <a href="http://userscripts.org">userscripts.org</a>. Read below for information, or just <%=link_to 'get at the scripts', scripts_path%>.</p>


<h3>What's wrong with userscripts.org?</h3>

<p><a href="http://userscripts.org">userscripts.org</a> was a great site. In fact, I based <a href="http://userstyles.org">my other site</a> on it. However, as of late, it's beginning to suck due to neglect. Malware user scripts are all over the pace, the forums are filled with spam, key site features have stopped working. I and others have tried to contact the administrator to see what's going on and to offer to help, but there has been no response. I don't intend this as an insult to the userscripts.org administrator, but it's a situation that I can no longer let stand.</p>


<h3>How is Greasy Fork going to be different?</h3>

<p>First of all, I will be an active administrator. I've been running <a href="http://userstyles.org">userstyles.org</a> since 2006. I haven't been perfect, but I'm still around and improving the site.</p>

<p>My vision for Greasy Fork is as follows:</p>

<ul>
	<li>It's a place where users can find safe, high-quality user scripts. The worst case scenario for a user should be a script that doesn't work.</li>
	<li>It's a place where user script authors are provided useful tools for and interesting information about their user scripts. Authors are the most important part of the community.</li>
	<li>It's a place where the community helps execute the above, but is backed by technology whenever possible. For example, an automatic spam blocker is preferable to the community reporting it after the fact, which itself is preferable to it being left there.</li>
	<li><a href="https://github.com/JasonBarnabe/greasyfork">It's an open source site</a> that welcomes contributions and feedback.</li>
</ul>


<h3>But you don't have feature X, Y, or Z.</h3>

<p>Yet. userscripts.org has been around for years, and Greasy Fork has just started. I intend to add features based on the community's priorities.</p>


<h3>Who are you?</h3>

<p>My name is Jason Barnabe. I've been running <a href="http://userstyles.org">userstyles.org</a> since 2006. User styles and user scripts have many things in common, so I think my experience will help me grow this site.</p>

<p>You can contact me at <a href="mailto:jason.barnabe@gmail.com">jason.barnabe@gmail.com</a>.</p>


<h3>Where can we talk about this?</h3>

<p>Greasy Fork does not yet have its own forum. I've created a <a href="http://forum.userstyles.org/categories/greasy-fork">Greasy Fork category on the userstyles.org forums</a>, and I will be monitoring <a href="http://userscripts.org/forums">the userscripts.org forums</a>. You can also file issue reports and feature requests on <a href="https://github.com/JasonBarnabe/greasyfork">GitHub</a>.</p>
