<%- title t('common.not_found_title') %>

<% if @ad_method&.ea? %>
  <%= render(partial: 'shared/ea_text_ad', locals: {ad_method: @ad_method, ea_div_id: 'error-show-ea'}) %>
<% end %>

<p><%= t('common.not_found_text') %></p>

<p><%= link_to(t('common.not_found_link_home'), root_path) %></p>
