<p>The import feature lets you automatically copy styles you posted on userscripts.org to Greasy Fork. The first step is to verify that you own a particular account on userscripts.org. To do so:</p>

<%=form_tag(import_step2_path) do |f|%>
	<ol>
		<li><a href="http://userscripts.org/login">Sign in to your userscripts.org account.</a></li>
		<li><a href="http://userscripts.org/home/settings/profile">Edit your bio</a> to include the a link to your Greasy Fork profile, e.g. <code>&lt;a href="<%=user_url(current_user, :only_path => false)%>"&gt;My profile on Greasy Fork&lt;/a&gt;</code></li>
		<li>Enter the URL to your userscripts.org profile (where "public profile" links to, for example http://userscripts.org/users/12345): <%=url_field_tag(:url, '', {:size => '50'})%></li>
		<li><%=submit_tag 'Verify'%></li>
	</ol>
<%end%>
