<p>
  <% if @same_email_user.identities.empty? %>
    <%= t('users.sign_in_email_used_no_external_services_html', email: @email, user_name: @same_email_user.name, provider: @provider, sign_in_link: link_to(t('users.sign_in_email_used_sign_in_link'), new_user_session_path)) %>
  <% else %>
    <% sign_in_url = (sleazy? && @same_email_user.github_identity_only?) ? new_user_session_url(host: greasyfork_host) : new_user_session_path %>
    <%= t('users.sign_in_email_used_with_external_services_html', email: @email, user_name: @same_email_user.name, provider: @provider, existing_providers: @same_email_user.pretty_signin_methods.to_sentence, sign_in_link: link_to(t('users.sign_in_email_used_sign_in_link'), sign_in_url)) %>
  <% end %>
</p>
