<p>Some additional guidance on <%= link_to 'the rules', help_code_rules_path %> for moderators when resolving reports.</p>

<h3>Unauthorized copies</h3>

<p>You must first determine if the reported does in fact copy code from the original. It doesn't have to be a complete copy; it's enough that a few lines are the same.</p>

<p>The license on the original script must be considered. You can use the link to <%= link_to 'tldrlegal.com', 'https://tldrlegal.com' %> to help you understand what the license required. Note that in the absence of a license on the original, no copying is allowed.</p>

<p>If the reported and the original scripts are indeed the same, and it appears that the reported script's is not following the original's license (or there is no license), you must also consider that the reported script's author may have gotten permission to copy. Use whatever evidence is provided in the report.</p>

<p>In the absence of evidence, you can consider the claims in the report in this order, from least trustworthy to most:</p>

<ol>
  <li>The reporter's claims if they are not the author of the original.</li>
  <li>The reported script's authors claims.</li>
  <li>The reporter's claims if they are the author of the original.</li>
</ol>

<h3>Lack of description</h3>

<p>Be fairly lenient with this rule. Something like "a new design for Google" is OK. "More features for Google" is not.</p>
