.blocked-script-codes {
  font-size: smaller;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.blocked-script-codes .pattern-row {
  font-size: medium;
}
.blocked-script-codes .pattern-row {
  border-top: 1px solid gray;
}
.blocked-script-codes .info-row td:first-child {
  width: 2em;
}
