.ad {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ad-rb img {
  max-width: 100%;
}

.script-list .ad-entry .ad-rb {
  margin: 0;
}
.ad-rb-top {
  margin-top: 0;
  margin-left: -16px;
  margin-right: -16px;
}