.ad {
  margin-top: 1em;
  margin-bottom: 1em;
}
.script-list-cd-entry {
  border-bottom: 1px solid #DDDDDD;
}
#script-list-cd {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}