.ad {
  margin-top: 1em;
  margin-bottom: 1em;
}
.script-list-cd-entry {
  border-bottom: 1px solid #DDDDDD;
}
#script-list-cd, #discussion-show-cd {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#script-list-cd {
  padding: 1em;
}

/* For EthicalAds text ads, put the "Ads by EthicalAds" inside the shaded area. */
.ethical-ads-text .ea-placement {
  position: relative;
}
.ethical-ads-text .ea-callout {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Prevent jumping when it loads. */
.ethical-ads-text:empty {
  min-height: 46px;
}

/* EthicalAds on top of a .text-content */
.ethical-ads.text-content-top-ad {
  margin: 0 calc(-1em - 1px);
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 960px) {
  .ethical-ads.text-content-top-ad {
    margin: 0 calc(-1.2vw - 1px);
  }
}
@media screen and (max-width: 400px) {
  .ethical-ads.text-content-top-ad {
    margin: 0 calc(-1em - 1px);
    border-radius: 5px 5px 0 0;
  }
}

/* Any ad in a script list */
@media screen and (max-width: 400px) {
  .script-list li.ad-entry {
    padding: 0;
  }
}

/* EthicalAds text ad on a script's page */
#script-info .ethical-ads-text {
  margin: 0 calc(-1em - 1px);
}
#script-info .ethical-ads-text .ea-content {
  border-radius: 0 !important;
}
@media screen and (max-width: 960px) {
  #script-info .ethical-ads-text {
    margin: 0 calc(-1.2vw - 1px);
  }
}