code {
  background-color: var(--code-background-color);
}
pre code {
  background: none;
  border: 0;
}
pre, code {
  border-radius: 2px;
}
pre {
  padding: 1em;
}
.prettyprint {
  min-width: calc(100% - 6px);
  background-color: var(--prettyprint-background-color);
  color: var(--prettyprint-color);
}
.prettyprint.wrap {
  white-space: pre-wrap;
  line-break: anywhere;
}
.prettyprint:not(.wrap) {
  width: max-content;
}
.code-container {
  /* Ensure when page is scrolled to bottom, the element is entirely in view. */
  max-height: calc(100vh - 54px);
  overflow-x: auto;
  border-radius: 2px;
  border: 1px solid var(--code-container-border-color);
}
.code-container pre {
  border: 0;
  margin: 0;
}

/* Show all line numbers, not just mod 5 */
li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
}

@media screen and (max-width: 440px) {
  /* show more code */
  #code-container {
    font-size: small;
  }
}
