:root {
  --overall-background-color: #F6F6F6;
  --overall-text-color: black;

  --link-color: #670000;
  --link-visited-color: #A42121;
  --texty-link-visited-color: #333;

  --content-background-color: white;
  --content-border-color: #BBBBBB;
  --content-box-shadow-color: #DDDDDD;
  --content-separator-color: #DDDDDD;

  --tab-active-background-color: rgba(0, 0, 0, 0.03);
  --tab-active-box-shadow-color: rgba(0, 0, 0, 0.1);
  --tab-active-top-border-color: #990000;

  --inactive-item-background-color: #F5F5F5;

  --code-background-color: #F2E5E5;

  --user-content-background-color-gradient-1: #fcf1f1;
  --user-content-background-color-gradient-2: #FFF;
  --user-content-border-left-color: #F2E5E5;

  --list-option-background-color-gradient-1: white;
  --list-option-background-color-gradient-2: #EEEEEE;

  --notice-background-color: #D9EDF7;
  --notice-border-color: #31708F;
  --notice-text-color: black;

  --alert-background-color: #FFFFCC;
  --alert-border-color: #FFEB3B;
  --alert-text-color: black;

  --chart-background-color: #dcdcdc;
  --chart-border-color: rgb(220,220,220);

  --highlight-background-color: #ffc;

  --rating-icon-good-border-color: rgb(77, 166, 77);
  --rating-icon-good-background-color: rgb(230, 242, 230);
  --rating-icon-good-color: rgb(0, 128, 0);

  --rating-icon-ok-border-color: rgb(211, 211, 77);
  --rating-icon-ok-background-color: rgb(255, 255, 230);
  --rating-icon-ok-color: rgb(192, 192, 0);

  --rating-icon-bad-border-color: rgb(255, 77, 77);
  --rating-icon-bad-background-color: rgb(255, 230, 230);
  --rating-icon-bad-color: rgb(255, 0, 0);

  --expander-color: #670000;
  --expander-background-color: #F2E5E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --overall-background-color: #0A0A0A;
    --overall-text-color: white;

    --link-color: #e95757;
    --link-visited-color: #c24141;
    --texty-link-visited-color: #DDD;

    --content-background-color: black;
    --content-border-color: #666;
    --content-box-shadow-color: #888;
    --content-separator-color: #333;

    --tab-active-background-color: rgba(255, 255, 255, 0.1);
    --tab-active-box-shadow-color: rgba(255, 255, 255, 0.1);

    --inactive-item-background-color: #333;

    --code-background-color: black;

    --user-content-background-color-gradient-1: #2e1111;
    --user-content-background-color-gradient-2: #000;
    --user-content-border-left-color: #461414;

    --list-option-background-color-gradient-1: #111;
    --list-option-background-color-gradient-2: #222222;

    --notice-background-color: #0E3041;
    --notice-text-color: white;

    --highlight-background-color: #550;

    --rating-icon-ok-border-color: rgb(135, 135, 33);
    --rating-icon-ok-background-color: rgb(49, 49, 0);
    --rating-icon-ok-color: rgb(255, 255, 70);
  
    --rating-icon-bad-border-color: rgb(155, 0, 0);
    --rating-icon-bad-background-color: rgb(32, 0, 0);
    --rating-icon-bad-color: rgb(255, 26, 26);
  
    --rating-icon-good-border-color: rgb(58, 124, 58);
    --rating-icon-good-background-color: rgb(31, 49, 25);
    --rating-icon-good-color: rgb(114, 255, 114);

    --expander-color: #e95757;
    --expander-background-color: #321919;
  }
}
