@media (prefers-color-scheme: dark) {
  #ace-editor.ace-tm {background-color: #181a1b; color: #e8e6e3; border-color: #43494c;}
  #ace-editor.ace-tm .ace_indent-guide {opacity: 0.1;}
  #ace-editor.ace-tm .ace_scroller {background-color: #181a1b;}
  #ace-editor.ace-tm .ace_gutter {background: #202325; color: #c8c3bc;}
  #ace-editor.ace-tm .ace_print-margin {background: #25282a;}
  #ace-editor.ace-tm .ace_fold {background-color: #161d84;}
  #ace-editor.ace-tm .ace_cursor {color: #e8e6e3;}
  #ace-editor.ace-tm .ace_invisible {color: #c0bab2;}
  #ace-editor.ace-tm .ace_storage, #ace-editor.ace-tm .ace_keyword {color: #337dff;}
  #ace-editor.ace-tm .ace_constant {color: #f94448;}
  #ace-editor.ace-tm .ace_constant.ace_buildin {color: #5e4ef6;}
  #ace-editor.ace-tm .ace_constant.ace_language {color: #5a94f6;}
  #ace-editor.ace-tm .ace_constant.ace_library {color: #65f96d;}
  #ace-editor.ace-tm .ace_invalid {background-color: rgba(204, 0, 0, 0.1); color: #ff1a1a;}
  #ace-editor.ace-tm .ace_support.ace_function {color: #99b0c9;}
  #ace-editor.ace-tm .ace_support.ace_constant {color: #65f96d;}
  #ace-editor.ace-tm .ace_support.ace_type, #ace-editor.ace-tm .ace_support.ace_class {color: #6f9cde;}
  #ace-editor.ace-tm .ace_keyword.ace_operator {color: #9d9487;}
  #ace-editor.ace-tm .ace_string {color: #83fb88;}
  #ace-editor.ace-tm .ace_comment {color: #7fb89c;}
  #ace-editor.ace-tm .ace_comment.ace_doc {color: #339cff;}
  #ace-editor.ace-tm .ace_comment.ace_doc.ace_tag {color: #84a6c1;}
  #ace-editor.ace-tm .ace_constant.ace_numeric {color: #5190ff;}
  #ace-editor.ace-tm .ace_variable {color: #70c0d0;}
  #ace-editor.ace-tm .ace_xml-pe {color: #aaa398;}
  #ace-editor.ace-tm .ace_entity.ace_name.ace_function {color: #6ba1ff;}
  #ace-editor.ace-tm .ace_heading {color: #1e6fff;}
  #ace-editor.ace-tm .ace_list {color: #f94cd2;}
  #ace-editor.ace-tm .ace_meta.ace_tag {color: #77b0ff;}
  #ace-editor.ace-tm .ace_string.ace_regex {color: #ff1a1a;}
  #ace-editor.ace-tm .ace_marker-layer .ace_selection {background: #2d3133;}
  #ace-editor.ace-tm.ace_multiselect .ace_selection.ace_start {box-shadow: 0 0 3px 0px #181a1b;}
  #ace-editor.ace-tm .ace_marker-layer .ace_step {background: #989900;}
  #ace-editor.ace-tm .ace_marker-layer .ace_stack {background: #5d8817;}
  #ace-editor.ace-tm .ace_marker-layer .ace_bracket {margin: -1px 0 0 -1px; border: 1px solid #42474a;}
  #ace-editor.ace-tm .ace_marker-layer .ace_active-line {background: rgba(0, 0, 0, 0.07);}
  #ace-editor.ace-tm .ace_gutter-active-line {background-color : #2c2f31;}
  #ace-editor.ace-tm .ace_marker-layer .ace_selected-word {background: #191c1d; border: 1px solid #0a0a6e;}
}