@media (prefers-color-scheme: dark) {
  .code-container pre.prettyprint {
    border: 1px solid #9d9488;
    color: #e8e6e3;
  }
  .prettyprint li.L1, .prettyprint li.L3, .prettyprint li.L5, .prettyprint li.L7, .prettyprint li.L9 {
    background: #222426;
  }
  .prettyprint .pln {color: #e8e6e3;}
  .prettyprint .str {color: #6dff6d;}
  .prettyprint .kwd {color: #7aabff;}
  .prettyprint .com {color: #ff6d6d;}
  .prettyprint .typ {color: #ff85ff;}
  .prettyprint .lit {color: #85ffff;}
  .prettyprint .clo,.prettyprint .opn,.prettyprint .pun {color: #ffff85;}
  .prettyprint .tag {color: #7aabff;}
  .prettyprint .atn {color: #ff85ff;}
  .prettyprint .atv {color: #6dff6d;}
  .prettyprint .var,.prettyprint .dec {color: #ff85ff;}
  .prettyprint .fun{color:#ff0000;}
}