.diff_options input[type=number] {
  width: 10ch;
}

/* From Diffy::CSS */
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

.diff del, .diff ins, .diff span{font-family:monospace;}

.diff {
  max-height: calc(100vh - 54px);
  overflow-y: auto;
}

.report-diff .diff {
  max-height: 75vh;
}
.report-diff form {
  display: inline;
}
.diff ul {
  background-color: var(--content-background-color);
  color: var(--overall-text-color);
}
.diff {
  border: 2px solid var(--content-border-color);
}
.diff li:hover{
  background: var(--highlight-background-color);
}