.expander {
  cursor: pointer;
  display: block;
  color: var(--expander-color);
  border-radius: 3px;
  background-color: var(--expander-background-color);
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  inset-inline-end: -22px;
  bottom: 0;
}
.expanded {
  overflow: auto;
}
.collapsed {
  overflow: hidden;
}