#test-require-result-ok, #test-require-result-not-ok {
  display: none;
  font-weight: bold;
  margin-left: 0.5em;
}
#test-require-result-ok {
  color: green;
}
#test-require-result-not-ok {
  color: red;
}
