#install-area {
  margin-bottom: 1em;
}
#install-area .install-link:hover, #install-area .install-link:focus, #install-area .install-help-link:hover, #install-area .install-help-link:focus {
  transition: box-shadow 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.install-link, .install-link:visited, .install-link:active, .install-link:hover, .install-help-link {
  transition: box-shadow 0.2s;
  display: inline-block;
  background-color: #005200;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
.install-help-link, .install-help-link:visited, .install-help-link:active, .install-help-link:hover {
  background-color: #1E971E;
  color: white;
  border-radius: 0 0.25rem 0.25rem 0;
}

.installation-instructions-modal-content-firefox, .installation-instructions-modal-content-chrome, .installation-instructions-modal-content-opera, .installation-instructions-modal-content-safari, .installation-instructions-modal-content-edge, .installation-instructions-modal-content-other {
  display: none;
}
.installation-instructions-modal-firefox .installation-instructions-modal-content-firefox {
  display: block;
}
.installation-instructions-modal-chrome .installation-instructions-modal-content-chrome {
  display: block;
}
.installation-instructions-modal-opera .installation-instructions-modal-content-opera {
  display: block;
}
.installation-instructions-modal-safari .installation-instructions-modal-content-safari {
  display: block;
}
.installation-instructions-modal-edge .installation-instructions-modal-content-edge {
  display: block;
}
.installation-instructions-modal-other .installation-instructions-modal-content-other {
  display: block;
}
.installation-instructions-modal-content-bypass {
  font-size: smaller;
}
