.installation-instructions-modal-content-firefox, .installation-instructions-modal-content-chrome, .installation-instructions-modal-content-opera, .installation-instructions-modal-content-safari, .installation-instructions-modal-content-other {
  display: none;
}
.installation-instructions-modal-firefox .installation-instructions-modal-content-firefox {
  display: block;
}
.installation-instructions-modal-chrome .installation-instructions-modal-content-chrome {
  display: block;
}
.installation-instructions-modal-opera .installation-instructions-modal-content-opera {
  display: block;
}
.installation-instructions-modal-safari .installation-instructions-modal-content-safari {
  display: block;
}
.installation-instructions-modal-other .installation-instructions-modal-content-other {
  display: block;
}
.installation-instructions-modal-content-bypass {
  font-size: smaller;
}
