/* Prevent shifting on pages that don't need scrolling */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #F6F6F6;
}
body, select, input {
  font-family: "Open Sans", sans-serif, "Segoe UI Emoji";
}
body:lang(zh-CN), select:lang(zh-CN), input:lang(zh-CN) {
  font-family: "Open Sans", "Microsoft YaHei UI", sans-serif, "Segoe UI Emoji";
}
body:lang(zh-TW), select:lang(zh-TW), input:lang(zh-TW) {
  font-family: "Open Sans", "Microsoft JHengHei UI", sans-serif, "Segoe UI Emoji";
}
pre, code {
  direction: ltr !important;
}
textarea {
  resize: vertical;
}

a {
  color: #670000;
}
a:visited {
  color: #A42121;
}
input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
}

#main-header {
  background-color: #670000;
  background-image: linear-gradient(#670000, #990000);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  padding: 0.25em 0;
}
.width-constraint {
  margin: auto;
  max-width: 1200px;
}
@media screen and (max-width: 1228px) {
  .width-constraint {
    margin: auto 1.2vw;
  }
}

#main-header .width-constraint {
  padding: 0 0 0.25em 0;
  /* enable absolute positioning for children */
  position: relative;
}
#site-name img {
  vertical-align: bottom;
}
#site-name-text {
  display: inline-block;
  vertical-align: top;
}
#site-name-text h1  {
  line-height: 1.1em;
}

#main-header, #main-header a, #main-header a:visited, #main-header a:active {
  color: white;
}
#main-header h1 {
  font-size: 72px;
  margin: 0;
  margin-top: 0px;
  letter-spacing: -2px;
}
#main-header h1 a {
  text-decoration: none;
}
#main-header .subtitle {
  margin: -8px 0 0 10px;
  font-size: 0.7em;
  /* in case it overlaps the y in Greasy */
  text-shadow: -1px -1px 0px #670000, 1px -1px 0px #670000, -1px 1px 0px #670000, 1px 1px 0px #670000;
}

#site-nav > nav, #nav-user-info {
  text-align: right;
  position: absolute;
  right: 0;
}
#site-nav > nav {
  bottom: 0;
}
#nav-user-info {
  top: 0;
}
#site-nav > nav a:hover {
  color: white;
}
#site-nav > nav {
  padding: 0;
}
#site-nav > nav > li {
  list-style-type: none;
  display: inline-block;
}
#site-nav > nav > li + li {
  margin-left: 0.5em;
}
#script-search, #language-selector {
  display: inline;
}
#nav-user-info {
  font-size: small;
}
#nav-user-info select, #nav-user-info input {
  font-size: 11px;
}

nav nav {
  position: absolute;
  right: 0;
  background-color: #990000;
  min-width: 100%;
  display: none;
  padding: 5px 0;
  z-index: 10;
}
nav nav li {
  white-space: nowrap;
  margin: 0;
}
nav nav li a {
  display: block;
  padding: 5px 15px;
}
nav a:hover + nav, nav nav:hover, nav a:focus + nav {
  display: block;
}
.with-submenu {
  /* Enable positioning for the submenu */
  position: relative;
  padding-right: 15px;
}
nav .with-submenu > a::after {
  content: ' ▾';
}
/*
nav .with-submenu:hover > a::after, nav .with-submenu > a:focus::after {
  content: ' ▴';
}
*/

@media screen and (max-width: 920px) {
  /* site main header, make site-name not ovelape with others */
  #site-name img {
    max-width: 96px;
    max-height: 96px;
    width: 12%;
    height: 12%;
  }
  #site-name-text {
    margin-top: 2.3vw;
  }
  /* main header font size: 10% of viewport width */
  #main-header h1 {
    font-size: 8.3vw;
  }
  #main-header .subtitle {
    margin: -0.8em 0 0 10px;
    font-size: 2vw;
  }
  #site-nav {
    margin-top: -1vw;
  }
  #site-nav>nav, #nav-user-info {
    display: block;
    position: unset;
    right: unset;
    padding-top: 0.3em;
  }
  #site-nav>nav {
    bottom: unset;
  }
  #nav-user-info {
    top: unset;
    font-size: unset;
    width: 100%;
  }
  #nav-user-info .sign-in-link {
    padding-right: 0.7em;
  }
  #script-search,#language-selector {
    display: unset;
  }
}

#script-info {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  clear: left;
  background-color: white;
  margin: 1em 0;
  box-shadow: 0 0 5px #DDDDDD;
}

#script-content {
  margin-top: 1.5em;
}
#script-content > *:first-child {
  margin-top: 0;
}
#script-info header h2 {
  margin: 0.25em 0 0 0;
  font-size: 2em;
  overflow-wrap: anywhere;
}
#script-description {
  margin: 0;
}
#version-note, #reported-note, #deleted-note {
  font-style: italic;
  background-color: #FFFF99;
  border: 2px dotted #CC9999;
  padding: 0.5em;
}
#script-feedback-suggestion {
  margin: 0.75em 0;
}
#script-content h3 {
  margin-top: 30px;
}

#install-area {
  margin-bottom: 1em;
}
#install-area .install-link:hover, #install-area .install-link:focus, #install-area .install-help-link:hover, #install-area .install-help-link:focus {
  transition: box-shadow 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.install-link, .install-link:visited, .install-link:active, .install-link:hover, .install-help-link {
  transition: box-shadow 0.2s;
  display: inline-block;
  background-color: #005200;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
}
.install-help-link, .install-help-link:visited, .install-help-link:active, .install-help-link:hover {
  background-color: #1E971E;
  color: white;
}

.inline-list {
  display: inline;
  padding-left: 0;
  list-style: none;
}
.inline-list li {
  display: inline;
}
.inline-list li:after {
  content: ", ";
}
.inline-list li:last-child:after {
  content: "";
}
dt[title] > span {
  border-bottom: 1px dotted black;
}

.form-section {
  margin-bottom: 2em;
}
.form-control {
  margin-bottom: 1em;
}
.form-control textarea, #ace-editor {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
}
.form-control textarea:not([rows]), #ace-editor {
  height: 20em;
}
#ace-editor {
  border: 1px solid #BBB;
  border-style: inset;
  resize: both;
}
.form-control input:not([type=radio]):not([type=file]):not([type=checkbox]):not([type=search]):not([size]) {
  box-sizing: border-box;
  width: 100%;
}
.radio-group input[type=radio] {
  margin-left: 1em;
}
.form-control label {
  font-weight: bold;
}
.form-control label.radio-label, .form-control label.checkbox-label {
  font-weight: normal;
}
.field_with_errors textarea {
  background-color: #FEE;
}
.label-note {
  font-size: smaller;
}
.screenshots-controls > *:not(label) {
  padding-left: 1em;
}
.add-screenshot-control, .screenshot-control {
  clear: left;
}
.screenshot-control > * {
  vertical-align: middle;
}
.screenshot-control a {
  float: left;
  min-width: 150px;
  text-align: center;
}

#script-info, .user-list, .text-content, .discussion-list {
  padding: 0 1em 1em;
}
#script-info > *:last-child, .user-list > *:last-child, .text-content > *:last-child, .discussion-list > *:last-child {
  margin-bottom: 0;
}
.script-list {
  padding: 0;
}

.script-list, .user-list, .text-content, .discussion-list {
  list-style-type: none;
  box-shadow: 0 0 5px #DDDDDD;
  background-color: white;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 14px 0;
}
.user-list {
  padding: 1em;
  margin: 1em 0;
}
.script-link, .script-description, .user-link {
  /* Prevent e.g. RTL user name in LTR layout from showing punctuation on an unexpected side. */
  unicode-bidi: isolate;
}
.list-option-groups ~ ol {
  width: calc(960px - 14em);
}
.text-content .list-option-groups ~ ol {
  width: calc(960px - 16em);
}
@media screen and (max-width: 960px) {
  #script-info, .user-list, .text-content {
    padding: 0 1.2vw 1.2vw;
  }
}

.script-list li:not(.ad-entry) {
  border-bottom: 1px solid #DDDDDD;
  padding: 1em;
}

.script-list .cf-wrapper {
  margin: 0 !important;
}

@media screen and (max-width: 960px) {
  .script-list li {
    padding: 1.2vw;
  }
}

.script-list h2 {
  margin: 0;
  font-size: 18px;
}
.script-list p {
  margin: 0;
}
.script-list footer {
  margin-top: 0.25em;
}


.list-current {
  font-weight: bold;
}
.script-list h2 {
  font-weight: bold;
}
.script-list .description {
  font-weight: normal;
  display: block;
  margin: .5em 0;
  font-size: smaller;
}
.script-list .name-description-separator {
  display: none;
}
#script-description,
.script-list h2 > a,
.script-list .description {
  word-wrap: break-word;
}

@media screen and (max-width: 720px) {
  .script-list, #script-content {
    margin-left: unset;
  }
}

.pagination, .script-list + .pagination, .user-list + .pagination {
  font-size: 18px;
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
.pagination > *, .script-list + .pagination > *, .user-list + .pagination > * {
  display: inline-block;
  background-color: #F2E5E5;
  padding: 0.5em;
  border-radius: 5px;
  text-decoration: none;
}
.pagination .disabled {
  display: none;
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
}
.pagination .current, .pagination .gap {
  background-color: transparent;
}
.pagination > a:hover, .pagination > a:focus {
  background-color: #e2c5c5;
}

.good-rating-count, .ok-rating-count, .bad-rating-count {
  display: inline-block;
  min-width: 1em;
  text-align: center;
  padding: 0 0.25em;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
}
.good-rating-count {
  background-color: rgba(51, 155, 51, 0.1);
  border-color: rgba(51, 155, 51, 0.3);
  color: #1E971E;
  color: rgba(51, 155, 51, 1);
}
.ok-rating-count {
  background-color: rgba(155, 155, 0, 0.1);
  border-color: rgba(155, 155, 0, 0.3);
  color: #a80;
  color: rgba(155, 155, 0, 1);
}
.bad-rating-count {
  background-color: rgba(155, 51, 51, 0.1);
  border-color: rgba(155, 51, 51, 0.3);
  color: rgba(155, 51, 51, 1);
}



/* activated by js */
.select-all, .select-none {
  display: none;
}

.diff {
  border: 2px solid black;
}

#help-allowed-elements, #help-allowed-styles {
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-width: 20em;
}
#help-allowed-elements li, #help-allowed-styles li {
  padding-right: 1em;
}

#by-site-list {
  list-style-type: none;
  padding: 0;  
}
#by-site-list li {
  display: inline;
  vertical-align: middle;
}

/* Edit */
#user_profile {
  width: 100%;
  height: 10em;
}

.preview-button {
  
}
.preview-result {
  display: none;
  background-color: #FFA;
  padding: 0.5em;
}

.failed-sync {
  background-color: #FCC;
}

.discussion-question {
  list-style-image: url(/images/circle-blue.png);
}
.discussion-report {
  list-style-image: url(/images/report.png);
}
.discussion-bad {
  list-style-image: url(/images/circle-red.png);
}
.discussion-ok {
  list-style-image: url(/images/circle-yellow.png);
}
.discussion-good {
  list-style-image: url(/images/circle-green.png);
}

.alert {
  font-style: italic;
  background-color: #FFFFCC;
  border: none;
   border-left: 6px solid #FFEB3B;
  padding: 0.5em;
}
.notice {
  background-color: #D9EDF7;
  border: none;
  border-left: 6px solid #31708F;
  padding: 0.5em;
}


#install-stats-chart {
  width: 100%;
  height: 400px;
}
.stats-table {
  border-collapse: collapse;
}
.stats-table th, .stats-table td {
  border: 1px solid gray;
  padding: 0 0.5em;
}
td.numeric, th.numeric {
  text-align: right;
}

.translation_missing {
  outline: dashed red;
}

#edit_user > div {
  margin-bottom: 0.5em;
}
#edit_user > div > label:first-child {
  font-weight: bold;
}

.inline-form {
  display: inline;
}

a.self-link, a.self-link:visited {
  text-decoration: none;
  color: black;
  opacity: 0.2;
}

.indented {
  padding-left: 1em;
}

.expander {
  cursor: pointer;
  padding: 2px 5px;
  color: #670000;
  border-radius: 3px;
  background-color: #F2E5E5;
  text-decoration: underline;
}

.external-login {
  padding: 2px 2px 3px 25px;
  border: 1px solid black;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 5px 2px;
}
.external-login-container {
  display: inline-block;
  vertical-align: top;
}
.external-login-container * {
  text-align: center;
  display: block;
}
.external-login-container > *:not(button) {
  font-size: smaller;
}
.external-login-container:not(:last-child) {
  margin-right: 5px;
}
.external-login-container .github-login {
  background-image: url('../images/github-32.png');
}
.external-login-container .gitlab-login {
  background-image: url('../images/gitlab-32.png');
}
.external-login-container .google_oauth2-login {
  background-image: url('../images/google-32.png');
}

/* sign_up, sign_in and password/new */
.centered-sections h2, .centered-sections h3 {
  text-align: center;
}
form.external-login-form {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  text-align: center;
}
form.external-login-form .remember-me {
  margin-top: 12px;
}
form.new_user {
  position: relative;
  width: 340px;
  margin: 0 auto;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  text-align: start;
}

@media screen and (max-width: 440px) {
  /* sign up */
  form.new_user {
    width: unset;
  }
}

form.new_user label, form.new_user em {
  display: block;
  font-size: small;
}
form.new_user br {
  display: none;
}
form.new_user input[type="text"],
form.new_user input[type="email"],
form.new_user input[type="password"] {
  display: block;
  width: 100%;
  min-height: 34px;
  box-sizing: border-box;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
form input[type="checkbox"],
form input[type="checkbox"] + label,
form input[type="radio"],
form input[type="radio"] + label {
  display: inline-block;
  font-size: small;
}

@media screen and (max-width: 440px) {
  /* show input and label on same line */
  form input[type="checkbox"] + label {
    display: unset;
    word-wrap: break-word;
  }
}

form.new_user input[type="submit"] {
  display: block;
  width: 100%;
  min-height: 34px;
  box-sizing: border-box;
  margin: 0.5em 0 0 0;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #670000;
  background-image: linear-gradient(#990000, #670000);
  border: 0px solid #ddd;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  white-space: normal;
}
form.new_user ~ br {
  display: none
}
form.new_user ~ a {
  width: 340px;
  display: block;
  margin: 0 auto 2em;
  font-size: small;
}
form.new_user + a {
  width: 340px;
  display: block;
  margin: 0 auto;
}
.sidebar-search, .home-search {
  position: relative;
  vertical-align: middle;
}
.sidebar-search input[type=search], .home-search input[type=search] {
  padding-inline-end: 20px;
}
.sidebar-search input[type=search] {
  width: 100%;
  margin: 0 0 1em 0;
}
.sidebar-search input[type=submit], .home-search input[type=submit] {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  right: 0;
  top: 0;
  border-color: transparent;
  padding-inline-start: 0;
  padding-inline-end: 6px;
  margin-left: 0;
  margin-right: 0;
  background: none;
  opacity: 0.5;
}

@media screen and (max-width: 680px) {
  /* use default font-size for search input */
  .sidebar-search input[type="search"], .home-search input[type="search"] {
    font-size: unset;
  }
}

figure {
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 10px 0 rgba(0,0,0,0.15);
  border-radius: 5px;
}
figcaption {
  font-size: smaller;
  text-align: center;
}

.multiform-page:not(:first-child) {
  margin-top: 30px;
}
.multiform-page:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

summary {
  cursor: pointer;
}
