/* From https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699 */
/**************************\
  Basic Modal Styles
\**************************/

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  ::backdrop {
    background: rgba(255, 255, 255, 0.6);
  }
}

dialog {
  background-color: var(--content-background-color);
  color: var(--content-color);
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal__title {
  margin-top: 0 !important;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  padding: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-bottom: 2rem;
}

.modal__content q {
  font-style: italic;
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0 0 0 0.5rem;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__accept {
  background-color: #005200;
  color: #fff;
}

.modal__footer {
  text-align: right;
}
