.notification-widget {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  padding: 2px;

  background-color: #31708F;
  border-radius: 50%;
  color: white;

  text-decoration: none;
}
