.pagination, .script-list + .pagination, .user-list + .pagination, .pagy {
  font-size: 18px;
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
.pagination > a, .script-list + .pagination > a, .user-list + .pagination > a, .pagy > a {
  padding: 0.5em;
  display: inline-block;
}
.pagination > a[href], .script-list + .pagination > a[href], .user-list + .pagination > a[href], .pagy > a[href] {
  background-color: var(--pagination-background-color);
  border-radius: 5px;
  text-decoration: none;
}
.pagination, .pagy {
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
  }
  .current, .gap {
    background-color: transparent;
  }
  > a[href]:hover, > a[href]:focus {
    background-color: var(--pagination-hover-background-color);
  }
}
@media screen and (max-width: 400px) {
  .pagination, .script-list + .pagination, .user-list + .pagination, .pagy {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.pagy {
  a {
    margin: 0 0.15em;
  }
}