.post-install-promoted-script {
	margin-bottom: 2em;
}

.post-install-promoted-script h2 {
	margin: 0;
	font-size: 2em;
}

.post-install-promoted-script p {
	margin: 0;
}

.post-install-promoted-install {
	margin-top: 1em;
}