#report_explanation {
  width: 100%;
  height: 10em;
}
.reportable {
  position: relative;
}
.report-link-abs {
  position: absolute;
  top: 0;
  right: 0;
  font-size: smaller;
  margin-right: 16px;
  margin-top: 8px;
}
.report-list-item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.report-list-item .inline-form {
  margin-right: 5px;
}
.report-resolution-options {
  display: inline-block;
  vertical-align: top;
  min-width: 30%;
}
.report-resolution-options + .report-resolution-options {
  margin-left: 1em;
}
.report-resolution-options input[type=submit] {
  margin-top: 0.5em;
}
.report-resolution-options textarea {
  width: 100%;
}
.report-screenshot-control {
  font-size: smaller;
  padding: 0.5em 0;
}
.unauthorized-code-comparison th {
  text-align: left;
}
.unauthorized-code-comparison th, .unauthorized-code-comparison td {
  padding-right: 1em;
}