.script-meta-block {
  max-width: 600px;
  column-count: 2
}
.script-meta-block > *:last-child {
  margin-bottom: 1em;
}

.inline-script-stats {
  display: grid;
  grid-template-columns: max-content auto;
  margin: 0 22px 0 0;
}

.inline-script-stats, .inline-script-stats dt, .inline-script-stats dd {
  vertical-align: top;
  padding: 0;
  font-size: small;
}
.inline-script-stats dt, .inline-script-stats dd {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 1px 0;
}

.inline-script-stats dt {
  font-weight: bold;
  text-align: end;
  padding-inline-end: 1em;
}

dd.script-list-ratings {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .script-meta-block {
    column-count: 1;
  }
}

.script-antifeatures span[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.script-show-compatibility {
  vertical-align: bottom;
}
.browser-compatible, .browser-incompatible, .browser-incompatible-marker {
  width: 16px;
  height: 16px;
}
.browser-incompatible {
  opacity: 0.5;
}
.browser-incompatible-marker {
  position: absolute;
}