#script-info {
  border: 1px solid var(--content-border-color);
  border-radius: 5px;
  clear: left;
  background-color: var(--content-background-color);
  margin: 1em 0 0 0;
  box-shadow: 0 0 5px var(--content-box-shadow-color);
}
#script-content {
  margin-top: 1.5em;
}
#script-content > *:first-child {
  margin-top: 0;
}
#script-info header h2 {
  margin: 0.25em 0 0 0;
  font-size: 2em;
  overflow-wrap: anywhere;
}
#script-description {
  margin: 0;
}
#version-note, #reported-note, #deleted-note {
  font-style: italic;
  background-color: #FFFF99;
  border: 2px dotted #CC9999;
  padding: 0.5em;
}
#script-feedback-suggestion {
  margin: 0.75em 0;
}
#script-content h3 {
  margin-top: 30px;
}
