/* Align to top with Breadcrumbs gone */
.MeBox {
	margin-top: 0;
}
/* Options (gear) always visible */
.Item .OptionsTitle {
   visibility: visible;
}

/* General theming */
body, .SiteTitle, select, input {
	font-family: "Open Sans", sans-serif;
}
body:not(.Settings) #Head {
	background-color: #670000;
	padding-top: 0 !important;
}
body:not(.Settings) a:not(.Button) {
	color: #670000;
}
body .Pager {
	font-weight: normal;
}
body .Pager .Highlight {
	font-weight: bold;
}

/* Header */
#Head {
	margin-bottom: 1em;
}
#Head a {
	font-weight: normal;
	text-decoration: underline;
	vertical-align: baseline;
}
#Head .Row {
	position: relative;
	padding: 0.25em 0;
}
.SiteMenu {
	position: absolute;
	right: 0;
	bottom: 0;
}
.SiteMenu a {
	font-size: 16px;
	padding: 0;
}
.SiteMenu li + li {
	margin-left: 0.5em;
}
#script-search {
	display: inline;
}
#nav-user-info {
	position: absolute;
	top: 0;
	right: 0;
}
#nav-user-info li {
	list-style-type: none;
	display: inline;
}
#nav-user-info .Alert {
	display: none;
}
#language-selector-locale {
	font-size: smaller;
	padding: 0;
}
#site-name {
	line-height: 1em;
}
#site-name img {
	vertical-align: bottom;
}
#site-name-text {
	display: inline-block;
	vertical-align: top;
}
#Head #site-name-text h1  {
	line-height: 1.1em;
	font-size: 72px;
	font-family: "Open Sans", sans-serif;
	letter-spacing: -2px;
	margin: 0;
}
#site-name a {
	text-decoration: none;
	font-weight: bold;
}
.subtitle {
	margin: -8px 0 0 10px;
	font-size: 11.2px;
	/* in case it overlaps the y in Greasy */
	text-shadow: -1px -1px 0px #670000, 1px -1px 0px #670000, -1px 1px 0px #670000, 1px 1px 0px #670000;
}

/* Tables in posts */
.Message table {
   border-collapse: separate;
   border-spacing: 4px;
   margin: 1em -4px; /* -4px neutralizes the border-spacing on the outer borders */;
}
.Message th, .Message td {
   padding: 2px 1em;
}
.Message th {
   background-color: rgba(103,0,0,0.2);
   font-weight: bold;
   font-size: 105%;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
.Message th:nth-child(odd) {
   background-color: rgba(103,0,0,0.15);
}
.Message tr:nth-child(even) td {
   background-color: rgba(0,0,0,0.05);
}
.Message tr:nth-child(even) td:nth-child(even) {
   background-color: rgba(50,0,0,0.08);
}
.Message tr:nth-child(odd) td:nth-child(even) {
   background-color: rgba(255,0,0,0.03);
}

code {
	white-space: pre-wrap;
	border: 1px solid #eec;
	font-size: 110%;
	padding: 3px 8px;
	background: #FDFCE4;
}
pre code {
	white-space: pre;
}
.Message pre {
	background: #EEEDD3;
	padding: 0;
}
.Message pre ol {
	background: #FDFCE4;
	padding: 8px;
}
.Message pre li {
	margin: 0;
	line-height: 1.2;
	background: transparent;
}
