/* Align to top with Breadcrumbs gone */
.MeBox {
	margin-top: 0;
}
/* Options (gear) always visible */
.Item .OptionsTitle {
   visibility: visible;
}

/* General theming */
body, .SiteTitle, select, input {
	font-family: "Open Sans", sans-serif;
}
body:not(.Settings) {
	margin: 0;
	background-color: #F6F6F6;
}
body:not(.Settings) #Head {
	background-color: #670000;
	background-image: linear-gradient(#670000, #990000);
	padding: 0.25em 0;
}
body:not(.Settings) a:not(.Button):not(.ChangePicture) {
	color: #670000;
}
body .Pager {
	font-weight: normal;
}
body .Pager .Highlight {
	font-weight: bold;
}

/* Header */
#Head {
	margin-bottom: 1em;
}
#Head a {
	font-weight: normal;
	text-decoration: underline;
	vertical-align: baseline;
}
#Head .Row {
	position: relative;
	padding: 0.25em 0;
}
.SiteMenu {
	position: absolute;
	right: 0;
	bottom: 0;
}
.SiteMenu a {
	font-size: 14px;
	padding: 0;
}
.SiteMenu > li {
	display: inline-block;
}
.SiteMenu > li + li {
	margin-left: 0.5em;
}
#script-search {
	display: inline;
}
#nav-user-info {
	position: absolute;
	top: 0;
	right: 0;
}
#nav-user-info li {
	list-style-type: none;
	display: inline;
}
#nav-user-info .Alert {
	display: none;
}
#language-selector-locale {
	font-size: 11px;
	padding: 0;
}
#site-name {
	line-height: 1em;
}
#site-name img {
	vertical-align: bottom;
}
#site-name-text {
	display: inline-block;
	vertical-align: top;
}
#Head #site-name-text h1  {
	line-height: 1.1em;
	font-size: 72px;
	font-family: "Open Sans", sans-serif;
	letter-spacing: -2px;
	margin: 0;
}
#site-name a {
	text-decoration: none;
	font-weight: bold;
}
.subtitle {
	margin: -8px 0 0 10px;
	font-size: 11.2px;
	/* in case it overlaps the y in Greasy */
	text-shadow: -1px -1px 0px #670000, 1px -1px 0px #670000, -1px 1px 0px #670000, 1px 1px 0px #670000;
}

.SiteMenu nav {
	position: absolute;
	right: 0;
	background-color: #990000;
	min-width: 100%;
	display: none;
	padding: 5px 0;
	z-index: 10;
	margin-top: -5px;
	text-align: right;
}
.SiteMenu nav li {
	white-space: nowrap;
	margin: 0;
}
.SiteMenu nav li a {
	display: block;
	padding: 5px 15px;
}
.SiteMenu a:hover + nav, .SiteMenu nav:hover, .SiteMenu a:focus + nav {
	display: block;
}
.with-submenu {
	/* Enable positioning for the submenu */
	position: relative;
	padding-right: 15px;
}
.SiteMenu .with-submenu > a::after {
	content: ' ▾';
}
/*
nav .with-submenu:hover > a::after, nav .with-submenu > a:focus::after {
	content: ' ▴';
}
*/



#Body {
	box-sizing: border-box;
	margin: auto;
	max-width: 960px;
}
#Content {
	box-shadow: 0 0 5px #DDDDDD;
	background-color: white;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 14px 1em 1em;
	float: left;
	width: 720px;
	margin: 0;
}
#Body .Row {
	width: 934px;
}

#Panel {
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;
	font-size: 0.9em;
}
#Panel .FilterMenu, #Panel .PanelCategories, #Panel .MeBox {
	margin: .5em 0 0;
	list-style-type: none;
	box-shadow: 0 0 5px #DDDDDD;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	background-color: white;
}
#Panel .FilterMenu, #Panel .PanelCategories {
	padding: 1em 0;
}
#Panel .MeBox {
	padding: 1em;
	margin-bottom: 10px;
}
#Panel .FilterMenu li, #Panel .PanelCategories li {
	border: none!important;
	padding:0!important;
}
#Panel .FilterMenu a, #Panel .PanelCategories a {
	padding: .35em 1em;
	display: block;
}
#Panel .FilterMenu a:hover, #Panel .PanelCategories a:hover, #Panel .FilterMenu a:focus, #Panel .PanelCategories a:focus {
	background: linear-gradient(white, #F6F6F6);
	text-decoration: none;
	box-shadow: inset 0 -1px #DDDDDD, inset 0 1px #EEEEEE;
}
#Panel .FilterMenu .Active a, #Panel .PanelCategories .Active a {
	border-left: 7px solid #800;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1);
	margin: .25em 0 .25em -4px;
	padding: .4em 1em .4em calc(1em - 3px);
	background: linear-gradient(white, #EEEEEE);
}
#Content .HomepageTitle {
	display: inline-block;
	margin: -28px -4px 0 0;
	position: relative;
	top: -8px;
	padding: 0.25em .5em .5em;
	background: rgba(0, 0, 0, 0.03);
	font-weight: bold;
	border-top: 7px solid #990000;
	box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1);
}
#Content .PageControls {
	display: inline-block;
	float: right;
}
.Discussions {
	clear: both;
}
.Discussions > li:first-child {
	border-width: 1px 0;
}
/* Tables in posts */
.Message table {
   border-collapse: separate;
   border-spacing: 4px;
   margin: 1em -4px; /* -4px neutralizes the border-spacing on the outer borders */;
}
.Message th, .Message td {
   padding: 2px 1em;
}
.Message th {
   background-color: rgba(103,0,0,0.2);
   font-weight: bold;
   font-size: 105%;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
.Message th:nth-child(odd) {
   background-color: rgba(103,0,0,0.15);
}
.Message tr:nth-child(even) td {
   background-color: rgba(0,0,0,0.05);
}
.Message tr:nth-child(even) td:nth-child(even) {
   background-color: rgba(50,0,0,0.08);
}
.Message tr:nth-child(odd) td:nth-child(even) {
   background-color: rgba(255,0,0,0.03);
}

code {
	white-space: pre-wrap;
	border: 1px solid #eec;
	font-size: 110%;
	padding: 3px 8px;
	background: #FDFCE4;
}
pre code {
	white-space: pre;
}
.Message pre {
	background-color: #F2E5E5;
	padding: 0;
	border-radius: 2px;
	border: 1px solid #E6DDD6;
}
.Message pre ol {
	background: #FDFCE4;
	padding: 8px;
}
.Message pre li {
	margin: 0;
	line-height: 1.2;
	background: transparent;
}

.RecentDiscussionFilterOptions {
	text-align: left;
}
.RecentDiscussionFilter a {
	display: inline-block;
	background-color: #F2E5E5;
	padding: 0.2em 0.5em;
	margin-top: 0.5em;
	border-radius: 5px;
	text-decoration: none;
}
.RecentDiscussionFilter a:hover, .RecentDiscussionFilter a:focus {
	background-color: #e2c5c5;
}
.Pager > * {
	display: inline-block;
	background-color: #F2E5E5;
	padding: 0.2em 0.5em;
	margin-bottom: 1em;
	border-radius: 5px;
	text-decoration: none;
}
.Pager > span {
	display: none;
}
.Pager > .Ellipsis, .Pager > .Highlight {
	display: inline-block;
	background-color: transparent;
}
.Pager > a:hover, .Pager > a:focus {
	background-color: #e2c5c5;
}
.Pager, .Category-script-discussions{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
#PagerBefore {
	display: none;
}
.nav-search #script-search {
	position: relative;
	vertical-align: middle;
}
.nav-search #script-search input[type=search] {
	padding-right: 20px;
	width: 175px;
}
.nav-search #script-search input[type=submit] {
	position: absolute;
	-moz-appearance: none;
	-webkit-appearance: none;
	right: 0;
	top: 0;
	border: 0;
	padding-left: 0;
	padding-right: 6px;
	margin-left: 0;
	margin-right: 0;
	background: none;
	opacity: 0.5;
	box-sizing: border-box;
}

/* Index rating image - move to left of title  */
.rating-image {
	float: left;
	margin-right: 5px;
}
/* Override mobile theme */
.rating-image {
	height: 16px !important;
	width: 16px !important;
}

/* Form rating options */
.ExtraDiscussionData-Rating label {
	display: block !important;
}

.ExtraDiscussionData-Rating label > * {
	display: inline-block;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating label, .CommentForm .CommentOptions .ExtraDiscussionData-Rating label {
	padding-top: 3px;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating input, .CommentForm .CommentOptions .ExtraDiscussionData-Rating input {
	margin-top: 0;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating *, .CommentForm .CommentOptions .ExtraDiscussionData-Rating * {
	vertical-align: top;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating li, .CommentForm .CommentOptions .ExtraDiscussionData-Rating li {
	display: list-item;
}

.DiscussionForm .PostOptions .ExtraDiscussionData-Rating ul, .CommentForm .CommentOptions .ExtraDiscussionData-Rating ul {
	list-style: inside;
}
