<p><%= it('mailers.subscribed_discussion.intro', site_name: @site_name, **localization_params_for_comment(@comment, @locale)) %></p>

<hr>

<%= format_user_text(@comment.text, @comment.text_markup) %>

<hr>

<p><%= it('mailers.subscribed_discussion.outro', notification_preferences_link: @unsubscribe_url, **localization_params_for_comment(@comment, @locale)) %></p>
