.announcement {
  margin: 14px 0;
  text-align: center;
  font-size: smaller;
}
.announcement form {
  display: inline;
}
.announcement input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: none;
  margin: 0 0 0 4px;
  padding: 0;
  cursor: pointer;
}
.announcement, .announcement input {
  font-size: 12px;
}