.badge {
  margin-left: 1ex;
  border-radius: 10%/25%;
  font-size: 70%;
  padding: 0 0.5ex;
  text-transform: uppercase;
  position: relative;
  top: -0.2ex;
}
.badge-banned {
  background-color: red;
  color: white;
}
.badge-moderator {
  background-color: #1a1da8;
  color: white;
}
.badge-author {
  background-color: #1E971E;
  color: white;
}