#carbonads {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid hsl(0, 0%, 73%);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ddd;
  text-align: center;
  line-height: 1.5;
}

#carbonads a {
  text-decoration: none;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto 1em;
}

.carbon-text {
  display: block;
  margin-bottom: 1em;
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}
