.preview-results {
	border: 1px solid gray;
	overflow: auto;
	box-sizing: border-box;
	margin: 0;
	padding: 16px;
}
.preview-results > p:first-child {
	margin-top: 0;
}
.preview-results > p:last-child {
	margin-bottom: 0;
}
.previewable textarea {
	margin: 0;
}
.previewable .tabs {
	margin-top: 10px;
	margin-bottom: -4px;
}
