<% attachments = attachable.attachments.includes(:blob).load %>
<% if attachments.any? %>
  <div class="user-screenshots">
    <% attachments.each do |attachment| %>
      <%= link_to attachment do %><%= image_tag attachment.variant(resize_to_limit: [200, 200]) %><% end %>
    <% end %>
  </div>
<% end %>
